*{
    margin:0;
    padding:0;

}
.hidden{
    display: none;
}
.hero{
    position: relative;
    height:100vh;
    width:100%;
    background-color: rgb(224, 235, 181);
    overflow: hidden;
}
nav{
    width:85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color:black;
}

.detail{
    margin-top:9%;
    margin-left: 10%;
}

.detail h1{
    font-size: 50px;
    color:#251a1a;
}
span{
    color:rgb(204, 100, 214);
}

.detail p{
    margin-top:30px;
    line-height: 30px;
    color:rgb(75, 71, 71);
    margin-bottom: 30px;
}

.detail a{
    background-color: #212121;
    padding:10px 15px;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.images{
    position: absolute;
    width:20%;
    right: 300px;
    top:30%;
    height: 60%;
}
.images img{
    position: absolute;
    height:100%;
    left:80%;
    bottom: 20%;
    transform: translateX(-50%);
    transition :bottom 1s,left 1s;
}

.me{
    width: 300px;
    height: 400px !important;
}
.images:hover .me{
    left: 200px;
    

 }
.images:hover .shape{
    bottom: 20px;

}  
.about{
    background-color: rgb(11, 2, 2);
    color:white;
    width:100%;
    height:100vh;
}
.innerbox{
    position: relative;
    top:100px;
    width:80%;
    margin:auto;
    display: flex;
    justify-content: center;

}